<div class="panel panel-default">
    <div class="panel-heading">
        Todo - Create
    </div>
    <div class="panel-body">
        <div id="errors" class="alert alert-danger hidden">
            <ul></ul>
        </div>
        <fieldset>
            <div class="form-group">
                <label>Title</label>
                <input id="title" type="text" placeholder="title" class="form-control">
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Description</label>
                <textarea id="description" class="form-control" ></textarea>
            </div>
        </fieldset>
        <fieldset>
            <div class="form-group">
                <label>Complete</label>
                <input id="complete" type="checkbox">
            </div>
        </fieldset>              
        <div id="buttons" class="form-group">
            <input id="create" name="create" class="btn btn-primary" value="Create" type="button" />
            <input id="update" name="update" class="btn btn-primary hidden" value="Update" type="button"/>
            <input id="advanced" name="advanced" class="btn btn-secondary hidden" value="Advanced edition" type="button"/>              
            <input id="cancel" name="cancel" class="btn btn-secondary" value="Cancel" type="button"/>                    
        </div>
    </div>
</div>
